extends layout
block content
    .container
        h1.titulo= title
        a.boton.agregar(href="/add") Agregar Tarea
        ul
            each task in tasks
                li
                    p= `${task.id}- ${task.title}`
                    
                    a.boton.eliminar Eliminar
                    a.boton.editar Editar